{% extends 'base.html.twig' %}

{% block title %} - Home{% endblock %}

{% block body %}
<p>
    Greetings from <strong>{{ action }}</strong> of Controller <strong>{{ controller }}</strong>.
</p>
{% endblock %}
