@charset "UTF-8";

header {
    border: solid black;
    border-width: 0 0 3px 0;
    padding: 20px;
}

#page-wrapper {
    margin: 20px 0;
}

.content {
    padding: 15px;
}

footer {
    padding: 20px;
}
