<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nutrition Assistant{% block title %}{% endblock %}</title>

    <link rel="icon" href="/favicon.png" type="image/x-icon">

    {% block stylesheets %}
        {{ encore_entry_link_tags('styles/app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
    {% endblock %}
</head>
<body>
<header>
    <div class="header-content">
        <div class="logo">
            <img src="https://dummyimage.com/110.png/aaa/000&text=Logo" alt="">
        </div>
        <div class="title">
            <h1>Aldebaran</h1>
            <h2>Nutrition Assistant</h2>
        </div>
    </div>
</header>

<nav>
    {{ include('_main-navigation.html.twig') }}
</nav>

<div id="content">
    {% block body %}{% endblock %}
</div>

<footer>
    <div class="footer-content">
        <blockquote>
            <div class="quote">
                <p class="text">Wenn's um Ernährung geht, ist gar nichts einfach.</p>
                <p class="author">Mai Thi Nguyen-Kim</p>
            </div>
        </blockquote>
    </div>
</footer>
</body>
</html>
